

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Currículo Pessoal</title>
    <link rel="stylesheet" href="style_atividade.css">
</head>
<body class="fundo">
    <h1 class="nome">FERNANDO SARAIVA</h1>
    <h2 class="pessoais">Informações Pessoais</h2>
    <div class="dv1">
    <h4 class="telefone">Telefone:(11)943596229</h4>
    <h4>Rua Eusebio de paula marcondes,511 - São Paulo</h4>
    <h4>Email:Fernando.saraiva07@hotmail.com</h4>
    <h4>21 Anos</h4>
</div>
    <h3 class="apresentacao"> Estou a procura de um emprego,
         sou uma pessoa bastante comunicativa,sempre estou disposto a tentar fazer o melhor, sei trabalhar em equipe
         sou uma pessoa comprometida com o que for me passado,o meu forte é sempre estar querendo aprender algo novo
         procuro ser sempre versátil em ambiente de trabalho e aprender de tudo um pouco,
          se poderem estar me dando uma chance eu vou aproveitar
         da melhor maneira possível.
    </h3>
    <h2 class="exp">Experiencias</h2>
    <div class="dv2">
    <h3 class="expe">Kim Pão 2019-2019 - auxiliar de produção</h3> 
    <h3>Kit frame 2021- auxiliar de pintura - atual </h3>
    </div>
    <h2 class="edc">Educação</h2>
    <div class="dv3">
    <h3>Ensino médio Completo</h3>
    <h3>E.e Sazulo - Informática Básica</h3> 
    </div>
</body>

</html>